.Cap {
    position: relative;
    left: 5%;
}



h2 {
    /*Aeezah.*/
    position: absolute;
    left: 10%;
    top: 3%;
    /*bottom: -32px;+/
    /*Шрифт*/
    color: rgb(35, 34, 41);
    font-family: Goldman, sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0;
    text-align: left;
}

.Buttons {
    position: absolute;
    left: 30%;
    top: 40px;
}

.ButtonM {
    /* NEW ARRIVALS */

    /*Шрифт*/
    color: rgb(0, 0, 0);
    font-family: Gilroy, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1px;
    letter-spacing: normal;
    text-align: center;
    cursor: pointer;

}

.ButtonM, .Button1, .Button2, .Button3, .Button4 {
    color: rgb(0, 0, 0);
    font-family: Gilroy, sans-serif;
    font-size: 20px;
    text-align: center;
    border: none;
    background: none;
    cursor: pointer;
    margin: 10px;
}

.ProfileB {
    position: absolute;
    left: 110%;
    top: -5%;
    border: none;
    background: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.Panel{
    /* Group 188 */
    position: absolute;
    left: 75%;
    top: 41px;
    width: 70px;
    border: none;
    box-sizing: border-box;
    background: white;
    cursor: pointer;
}

p {
    /* 0 */
    display: contents;
    color: rgb(35, 34, 41);
    font-family: Gilroy,sans-serif;
    font-size: 22px;
    font-weight: 600;
}
